.menu_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  /* border: 3px solid #fff; */
}
.menu_btn__burger {
  width: 50px;
  height: 6px;
  background: red;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before,
.menu_btn__burger::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: red;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}
.menu_btn__burger::before {
  transform: translateY(-16px);
}
.menu_btn__burger::after {
  transform: translateY(16px);
}
/* ANIMATION */
.menu_btn.open .menu_btn__burger {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.menu_btn.open .menu_btn__burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.menu_btn.open .menu_btn__burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
.hammber_menu {
  position: fixed;
  z-index: 10001;
  background-color: rgb(37, 37, 37);
  color: white;
  top: 100px;
  right: 0;
}
.hammber_menu > a {
  display: block;
  padding: 1rem 2rem;
  opacity: 0.5;
}
.hammber_menu > a:hover {
  background-color: gray;
}
